<aside id="sidebar">


    <div id="sidebar-wrap">

        <div class="panel-group slim-scroll" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#sidebarNav">
                            Navigation <i class="fa fa-angle-up"></i>
                        </a>
                    </h4>
                </div>
                <div id="sidebarNav" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body">


                        <!-- ===================================================
                        ================= NAVIGATION Content ===================
                        ==================================================== -->
                        <ul id="navigation">
                            <li class="active"><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>

                            <!-- ======== FICHE ============= -->
                            <li>
                                <a role="button" tabindex="0"><i class="fa fa-male"></i><span>Fiches</span></a>
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-users"></i>Famille</a>
                                        <ul>
                                            <li><a href="{{ path("listFamily") }}"><i class="fa fa-caret-right"></i>Liste</a></li>
                                            <li><a href="{{ path("createFamily") }}"><i class="fa fa-caret-right"></i>Créer</a></li>


                                            <li><a href="#"><i class="fa fa-caret-right"></i>Détail</a></li>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Recherche</a></li>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Carnet évalution</a></li>
                                            <li>
                                                <a href="#"><i class="fa fa-caret-right"></i>Historique</a>
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-caret-right"></i>Transaction</a></li>
                                                    <li><a href="#"><i class="fa fa-caret-right"></i>Présence</a></li>
                                                </ul>

                                            </li>

                                        </ul>

                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa fa-user"></i>Enfant</a>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Détail</a></li>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Recherche</a></li>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Carnet évalution</a></li>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Fiche de match</a></li>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Anniversaire</a></li>
                                            <li>
                                                <a href="#"><i class="fa fa-caret-right"></i>Historique</a>
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-caret-right"></i>Inscription</a></li>
                                                    <li><a href="#"><i class="fa fa-caret-right"></i>Présence</a></li>
                                                    <li><a href="#"><i class="fa fa-caret-right"></i>Transport</a></li>
                                                    <li><a href="#"><i class="fa fa-caret-right"></i>Repas</a></li>
                                                </ul>

                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>


                            <!-- ======== TRANSACTIONS ============= -->


                            <li>
                                <a role="button" tabindex="0"><i class="fa fa-credit-card"></i> <span>Transaction</span></a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right"></i>Synthèse</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i>Historique</a></li>
                                </ul>
                            </li>


                            <!-- ======== METIER ============= -->



                            <li>
                                <a role="button" tabindex="0"><i class="fa fa-futbol-o"></i> <span>Métier</span></a>
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-caret-right"></i>Inscription</a>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Création</a></li>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Modification</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-caret-right"></i>Présence</a>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Présence</a></li>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Activités</a></li>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Repas</a></li>

                                        </ul>

                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-rocket"></i>Transport</a>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Création</a></li>

                                        </ul>
                                    </li>
                                </ul>
                            </li>


                            <!-- ======== CLUB ============= -->


                            <li>
                                <a role="button" tabindex="0"><i class="fa fa-home"></i> <span>Club</span></a>
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-caret-right"></i>Véhicule</a>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Carburant</a></li>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Historique</a></li>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Maintenance</a></li>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Reporting</a></li>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Création</a></li>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Actions</a></li>

                                        </ul>

                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-caret-right"></i>Relevé</a>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Eau</a></li>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Electricité</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>


                            <!-- ======== COMPTABILITE ============= -->


                            <li>
                                <a role="button" tabindex="0"><i class="fa fa-table"></i> <span>Comptabilité</span></a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right"></i>Facture</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i>Bilan</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i>Saisie</a></li>
                                </ul>
                            </li>


                            <!-- ======== PRODUIT ============= -->


                            <li>
                                <a role="button" tabindex="0"><i class="fa fa-puzzle-piece"></i> <span>Produit</span></a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right"></i>Création</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i>Famille</a></li>
                                </ul>
                            </li>


                            <!-- ======== PUBLIC ============= -->


                            <li>
                                <a role="button" tabindex="0"><i class="fa fa-globe"></i> <span>Public</span></a>
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-caret-right"></i>TV</a>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-car"></i>Transport</a></li>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Activité</a></li>
                                        </ul>

                                    </li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i>Carnet</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i>Fiche de Match</a></li>
                                </ul>
                            </li>


                            <!-- ======== ADMINISTRATION ============= -->


                            <li>
                                <a role="button" tabindex="0"><i class="fa fa-cog"></i> <span>Réglage</span></a>
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-caret-right"></i>Gestion</a>
                                        <ul>
                                            <li><a href="{{ path("indexCompany") }}"><i class="fa fa-caret-right"></i>Société</a></li>
                                            <li><a href="{{ path("indexUser") }}"><i class="fa fa-caret-right"></i>Utilisateurs</a></li>
                                        </ul>

                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-caret-right"></i>Administration</a>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Batch</a></li>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Logs</a></li>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Groupes</a></li>
                                            <li><a href="#"><i class="fa fa-caret-right"></i>Permissions</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>



                        </ul>
                        <!--/ NAVIGATION Content -->


                    </div>
                </div>
            </div>


        </div>

    </div>


</aside>
